<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}" >
    <meta charset="utf-8">
    <title>{% block title %}Constructive Choice Project Management{% endblock %}</title>
    {% block extra-head %}{% endblock %}
</head>
<body>
    <main>
        {% if user.is_authenticated %}
            <p class="right-align">
                {% if session_expiration %}
                    Session expires on: {{ session_expiration }}&nbsp;&nbsp;
                {% endif %}
                <a href="{% url 'logout' %}" id='logout-link'>LOGOUT</a>&nbsp;&nbsp
            </p>
            <style>
                .right-align {
                    float: right;
                }
            </style>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
