<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" href="{% static 'gantt/images/favicon.ico' %}"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
        <meta name="theme-color" content="#000000"/>
        <link rel="manifest" href="{% static 'gantt/manifest.json' %}"/>
        <title>gantt-task-react</title>
        <script defer="defer" src="{% static 'gantt/js/main.js' %}"></script>
        <link href="{% static 'gantt/css/main.css' %}" rel="stylesheet">
    </head>
    <body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    </body>
</html>
