{% extends 'base.html' %}
{% load static %}
{% block title %}Gantt: {{ title }}{% endblock %}
{% block extra-head %}
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="{% static 'gantt/images/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
    <meta name="theme-color" content="#000000"/>
    <link rel="manifest" href="{% static 'gantt/manifest.json' %}"/>
    <script defer="defer" src="{% static 'gantt/js/main.js' %}"></script>
    <link href="{% static 'gantt/css/main.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% csrf_token %}
    <script>
        window.construct_id = "{{ construct_id }}";
        window.protocol = "{{ protocol }}"
        window.host = "{{ host }}";
        window.port = "{{ port }}";
        window.csrf = "{{ csrf_token }}";
        window.interactive = true;
        window.getChoicesLink = "{{ get_choices_link }}";
    </script>
    <div>
        <h1>{{ title }}</h1>
        &nbsp;&nbsp;
        &larr; <a href="{% url 'list:detail' construct_id %}">to the project</a>
        &nbsp;&nbsp;
        <a href="{% url 'list:index' %}">Project List</a>
    </div>
    <br><br>
    <div id="root"></div>
{% endblock %}
