{% extends 'base.html' %}
{% block title %}Account Profile{% endblock %}
{% block content %}
<h2>User: {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h2>
{% if 'is_staff' in perms %}
    You belong to Staff.<br>
{% endif %}
{% if 'is_superuser' in perms %}
    You are a Superuser.
    <a href="{% url 'admin:index' %}">Admin page.</a>
    <a href="{% url 'list:index' %}">List of projects.</a>
    <br>
{% endif %}
{% if groups %}
{% comment %}
    <h3>Groups:</h3>
    {% for group in groups %}
        - {{ group }}<br>
    {% endfor %}
{% endcomment %}
{% endif %}
{% if 'list.add_invoice' in perms and 'is_staff' not in perms %}
    <p style="font-size: larger">Invoice for:</p>
    {% for con in constructs %}
        <p>&nbsp;<a href="{% url 'list:submit_invoice' %}?construct={{ con.id }}&worker"
            style="text-decoration: none">
                {{ con.title_text }}</a> (address: {{ con.address_text }}).</p>
    {% endfor %}
    <p style="font-size: larger">Your Invoices:</p>
    {% for inv in invoices %}
    <p>&nbsp;&nbsp;{{ inv.issue_date }},
        # <a href="{% url 'list:view_invoice' inv.id %}"
                    style="text-decoration: none">
            {{ inv.number }}</a>,
        £ {{ inv.amount }}, {{ inv.status }}
    </p>
    {% endfor %}
{% else %}
    {% if 'is_staff' not in perms %}
        <p>If you need a permission to submit invoices, please, contact administrators.</p>
    {% endif %}
{% endif %}
{% if is_client %}
    <h3>Projects:</h3>
    {% for slug in project_slugs %}
        <a href="{% url 'list:client_slug' slug.url %}">{{ slug.project_name }}</a>
    {% endfor %}
{% endif %}
{% comment %}
{% endcomment %}
{% endblock %}
