{% extends 'base.html' %}
{% block title %}Account Profile{% endblock %}
{% block content %}
<h2>User: {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h2>
{% if whatever %}
    <ul>
        <li>
            {{ whatever }}
        </li>
    </ul>
{% endif %}
{% if 'is_staff' in perms %}
    You belong to Staff.<br>
{% endif %}
{% if 'is_superuser' in perms %}
    You are a Superuser.
    <a href="{% url 'admin:index' %}">Admin page.</a>
    <a href="{% url 'list:index' %}">List of projects.</a>
    <br>
{% endif %}
{% if groups %}
{% comment %}
    <h3>Groups:</h3>
    {% for group in groups %}
        - {{ group }}<br>
    {% endfor %}
{% endcomment %}
{% endif %}
{% if foreman_constructs %}
    <p style="font-size: larger"><b>You are the foreman for:</b></p>
    {% for con in foreman_constructs %}
        <p>&nbsp;<a href="{% url 'list:worker' con.id %}"
            style="text-decoration: none">
                {{ con.title_text }}</a> (address: {{ con.address_text }}).
            [<a href="{% url 'list:submit_invoice' %}?construct={{ con.id }}&worker"
                        style="text-decoration: none">
                            invoice</a>]
        </p>
    {% endfor %}
{% endif %}
{% if 'list.add_invoice' in perms and 'is_staff' not in perms %}
    <p style="font-size: larger"><b>Invoice for:</b></p>
    {% for con in constructs %}
        <p>
            &nbsp;<a href="{% url 'list:submit_invoice' %}?construct={{ con.id }}&worker"
            style="text-decoration: none">
                {{ con.title_text }}</a> (address: {{ con.address_text }}).
            [<a href="{% url 'list:worker' con.id %}"
                        style="text-decoration: none">
                            view tasks</a>]
        </p>
    {% endfor %}
    <p style="font-size: larger"><b>Your Invoices:</b></p>
    {% for inv in invoices %}
    <p>&nbsp;&nbsp;{{ inv.issue_date }},
        # <a href="{% url 'list:view_invoice' inv.id %}"
                    style="text-decoration: none">
            {{ inv.number }}</a>,
        £ {{ inv.amount }}, {{ inv.status }}
    </p>
    {% endfor %}
{% else %}
    {% if 'is_staff' not in perms %}
        <p>If you need a permission to submit invoices, please, contact administrators.</p>
    {% endif %}
{% endif %}
{% if is_client %}
    <h3>Projects:</h3>
    {% for slug in project_slugs %}
        <p>
            <a href="{% url 'list:client_slug' slug.url %}" style="text-decoration: none">
                {{ slug.project_name }}
            </a>
            [<a href="{% url 'list:client' slug.id %}" style="text-decoration: none">
                via ID
            </a>]
        </p>
    {% endfor %}
{% endif %}
{% comment %}
{% endcomment %}
{% endblock %}
