{% extends 'base.html' %}
{% block title %}All invoices for: {{ construct_name }}{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Invoices for: {{ construct_name }}</h2>
<a href="{% url 'list:detail' construct_id %}">go to the project</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'list:invoices' construct_id %}">all</a>&nbsp;&nbsp;
<a href="{% url 'list:invoices' construct_id %}?direction=in">incoming</a>&nbsp;&nbsp;
<a href="{% url 'list:invoices' construct_id %}?direction=out">outgoing</a>&nbsp;&nbsp;
<a href="{% url 'list:invoices' construct_id %}?direction=unpaid">unpaid</a>&nbsp;&nbsp;
<a href="{% url 'list:invoices' construct_id %}?direction=mismatch">payment mismatch</a>&nbsp;&nbsp;
&nbsp; &nbsp; &nbsp;
<a href="{% url 'list:submit_invoice' %}?construct={{ construct_id }}">add an invoice</a>
<br>
<br>
<b>Direction:</b> {{ direction|upper }}<br><br>
{% if direction != 'all' %}
    <b>Total:</b> &#163; {{ total }}<br><br>
{% endif %}
<table id='construct_list'><tbody>
    {% for inv in invoices %}
        <tr>
            <td>
                <a href="{% url 'admin:list_invoice_change' inv.id%}">
                    {{ inv.id }}
                </a>
            </td>
            <td>
                {{ inv.issue_date }}
            </td>
            <td>
                <b>due:</b>
                {{ inv.due_date }}
            </td>
            <td>
                {{ inv.number }}
            </td>
            <td>
                £ {{ inv.amount }}
            </td>
            <td>
                {{ inv.invoice_type }}
            </td>
            <td>
                {{ inv.status }}
            </td>
            <td>
                <b>from</b> (seller): {{ inv.seller }}
            </td>
            <td>
                <a href="{% url 'list:view_invoice' inv.id %}">view</a>
            </td>
            <td>
                {{ inv.details_txt|truncatechars:25 }}
            </td>
        </tr>
    {% endfor %}
</tbody></table>
{% endblock %}
