{% extends 'base.html' %}
{% block title %}{{ construct.title_text }}{% endblock %}
{% block content %}
{% load static %}
{% load app_filters %}
{% load l10n %}
<script src="{% static 'list/detail.js' %}?jsv={{detailJsVersion}}"></script>
<div id="detail-js-version" style="display: none">{{detailJsVersion}}</div>
<link rel="stylesheet" href="{% static 'list/style.css' %}?jsv={{detailJsVersion}}">

<h1>{{ construct.title_text }}</h1>

{% if construct.header_txt %}
    <div id='construct-header'>
        {% autoescape off %}
            {{ construct.header_txt|escape|markup }}
        {% endautoescape %}
    </div>
    <br />
{% endif %}

<div class='hide_for_pretty'>
&larr; <a href="{% url 'list:index' %}">back to the project list</a>
<br><br>
<b>Ctrl+Click</b> on a task name to move it <b>Down</b>.<br>
<b>Alt+Click</b> to move it <b>Up</b>.<br>
<span class='main-contract' style='padding: 2px; border: 1px solid black'>Highlighted</span> are the main contract tasks
(see the <b>#main</b> tag in "Constructive notes").
<br>
<br>
<a href="{% url 'gantt:index' construct.id %}">Gantt Chart</a> &rarr;
</div>
<br class='hide_for_pretty'>
<table id='choices_head'>
<tbody>
<tr>
    <td><b>Address:</b></td>
    <td onclick='modify(this);'>{{ construct.address_text }}</td>
    <td></td>
    <td class='hide_for_pretty'><a href="{% url 'admin:list_construct_change' construct.id %}">Modify<br>basics</a></td>
    <td class='hide_for_pretty'><a href="{% url 'list:clone' construct.id %}">Clone this<br>project</a></td>
    <td class='hide_for_pretty'>
        <a href="{% url 'list:client_slug' construct.slug_name %}">Client view</a><br />
        <a href="{% url 'list:client2_slug' construct.slug_name %}">Maintenance view</a>
    </td>
    <td class='hide_for_pretty'>
        <a href="{% url 'list:submit_invoice' %}?construct={{ construct.id }}&worker">
            Worker Invoice Submission</a><br>
        <a href="{% url 'list:submit_invoice' %}?construct={{ construct.id }}">Invoice Submission</a>
    </td>
</tr>
<tr>
    <td><b>Email:</b></td>
    <td>{{ construct.email_text }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><b>Total:</b></td>
    <td id='project_total'>&#163; {{ construct_total }}</td>
    <td class='hide_for_pretty'><a href="{% url 'list:flows' construct.id %}">Expenses, etc.</a></td>
    <td class='hide_for_pretty'>
        <a href="{% url 'list:submit_transaction' %}?construct={{ construct.id }}">add a transaction</a><br>
        <a href="{% url 'list:submit_transaction_bunch' %}?construct={{ construct.id }}">bunch of transactions</a><br>
    </td>
</tr>
<tr>
    <td><b>Phone:</b></td>
    <td>{{ construct.phone_text }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><b>+ {{ construct.company_profit_percent_num }}% profit:</b></td>
    <td id='project_total_profit'>&#163; {{ total_and_profit|floatformat:2 }}</td>
    <td><b>Full progress<br>(incl. profit + VAT):</b></td>
    <td id='progress_vat'>&#163; updating...</td>
</tr>
<tr>
    <td><b>Owner:</b></td>
    <td>{{ construct.owner_name_text }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><b>VAT:</b></td>
    <td id='project_vat'>{{ construct.vat_percent_num }}%</td>
    <td><b>Main contract<br>progress:</b></td>
    <td>&#163; {{ construct.no_deposit_progress_cost }}</td>
</tr>
{% if construct.ontop_profit_percent_num > 0 %}
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <b>On-top profit ({{ construct.ontop_profit_percent_num }}%):</b><br/>
        <b>On-top + VAT:</b>
    </td>
    <td>
        £ {{ on_top_profit|floatformat:2 }}<br/>
        £ {{ on_top_profit_and_vat|floatformat:2 }}
    </td>
    <td>
        <b>Total + profit<br />+ ontop + VAT:</b>
    </td>
    <td>£ {{ total_total|floatformat:2 }}</td>
</tr>
{% endif %}
<tr>
    <td><div id='profit_percent' style='display:none'>{{ construct.company_profit_percent_num }}</div></td>
    <td></td>
    <td></td>
    <td><b>Total + Profit + VAT:</b></td>
    <td id='project_total_profit_vat'>&#163; {{ total_profit_vat|floatformat:2 }}</td>
    <td><b>Other works<br>progress:</b></td>
    <td>£ {{ construct.full_side_progress_cost|floatformat:2 }}</td>
</tr>
<tr>
    <td><b>Unpaid<br>(out):</b></td>
    <td>£
        <a href="{% url 'list:invoices' construct.id %}?direction=unpaid">
            {{ construct.invoices_to_pay|floatformat:2 }}
        </a>
    </td>
    <td></td>
    <td style="vertical-align: top"><b>Paid deposit:</b></td>
    <td>
        £ {{ construct.deposit|floatformat:2 }}<br>
        ({{ construct.deposit_percent|floatformat:2 }}%)
    </td>
    <td><b>Income w/o deposit:</b></td>
    <td id='paid'>&#163; {{ construct.income_wo_deposit|floatformat:2 }}</td>
</tr>
<tr>
    <td style="vertical-align: top"><b>Unpaid<br>(in):</b></td>
    <td>£
        <a href="{% url 'list:invoices' construct.id %}?direction=unpaid">
            {{ construct.invoices_pending_pay|floatformat:2 }}
        </a>
    </td>
    <td></td>
    {% if construct.deposit <= 0 %}
        <td style="vertical-align: top"><b>Expected deposit:</b></td>
        <td id="id_expected_deposit">
            £ {{ construct.expected_deposit|floatformat:2 }}<br>
            ({{ construct.deposit_percent_expect|floatformat:2 }}%)<br>
            <a href="{% url 'list:submit_invoice' %}?construct={{ construct.id }}&details=1,deposit,{{ construct.expected_deposit_str }}&amount={{ construct.expected_deposit_str }}&type=IN">request</a>
        </td>
    {% else %}
        <td></td>
        <td></td>
    {% endif %}
    <td><b>To be paid:</b></td>
    <td>
        £ {{ construct.left_to_pay|floatformat:2 }} (<a href="{% url 'list:submit_invoice' %}?construct={{ construct.id }}&details=1,stage N,{{ construct.left_to_pay_str }}&amount={{ construct.left_to_pay_str }}&type=IN">request</a>)
    </td>
</tr>
</tbody>
</table>

<br><br>
<div  class='hide_for_pretty'>
<div id='project_last_save_date'>
{% if not history|length %}
        <b>Date modified:</b>&nbsp;{{ construct.last_save_date }}
{% endif %}
</div>
<div>
    <ul>
        {% for recs in history %}
            <li>
                <a href="{% url 'list:history' %}?id1={{ recs.rec1.id }}&id2={{ recs.rec2.id }}">
                    {{ recs.rec2.created_at }} by {{ recs.rec2.user_name }}</a>
                {% if forloop.first %}
                &mdash; <b>last modification record</b>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<br>
<div>
    <a href='#' onclick='return hideShow100(this)'>Hide completed</a>
</div>
</div>


<br>
<form id='choices_form' action="{% url 'list:bg_update' construct.id %}" method='POST'>
{% csrf_token %}
<table id='choices'>
<thead><tr>
    <th>
        <a href="#" onclick="return addRow(0, 'Choice');">task</a> |
        <a href="#" onclick="return addRow(0, 'Header2');">head</a>
    </th>
    <th class="name_cell">Task name</th>
    <th>Unit price</th>
    <th>Quantity</th>
    <th><!--Units--></th>
    <th>Total price</th>
    <th class='assign_cell'>Assigned to</th>
    <th>Date start</th>
    <th>Planned days</th>
    <th>Progress</th>
    <th></th>
    <th></th>
</tr></thead>
<tbody>
{% for items in ch_list %}
    {% if items.type == 'Choice' %}
        <tr id='tr_{{ items.choice.id|unlocalize }}' class='{{ items.type }}'>
    {% else %}
        <tr id='hd_{{ items.choice.id|unlocalize }}' class='{{ items.type }}'>
    {% endif %}
        <td align='right'>
            <a href="#" onclick="return addRow({{ items.idx }}, 'Choice');">task</a> |
            <a href="#" onclick="return addRow({{ items.idx }}, 'Header2');">head</a>
        </td>
    {% if items.type == 'Choice' %}
        {% autoescape off %}
        <td class='name_cell {{ items.main_contract }}'>{{ items.choice.name_txt|escape|markup }}</td>
        {% endautoescape %}
        <td align='right'>&#163;{{ items.choice.price_num|floatformat:2 }}</td>
        <td align='right'>{{ items.choice.quantity_num }}</td>
        <td align='left'>{{ items.choice.units_of_measure_text }}</td>
        <td align='right' class='choice_total_price'>&#163;{{ items.choice_total_price|floatformat:2 }}</td>
        <td>
            {{ items.choice.workers }}
        </td>
        <td>{{ items.choice.plan_start_date_formatted }}</td>
        <td align='center'>{{ items.choice.plan_days_num }}</td>
        <td class="progress-cell">
            {{items.choice.progress_percent_num|floatformat:2}}%
        </td>
        <td>
            <div class='notes-form'>
                <form></form>
                <form action="#">
                    <button type="button" onclick="hideNotesForm(this)">Hide Notes</button><br><br>
                    {{ items.choice.name_txt }}<br><br>
                    <p>Constructive notes</p>
                    <textarea class='constructive_notes' name='con-notes' rows='10' cols='45'>
{{ items.choice.constructive_notes }}</textarea><br><br>
                    <p>Client notes</p>
                    <textarea class='client_notes' name='cli-notes' rows='10' cols='45'>
{{ items.choice.client_notes }}</textarea>
                </form>
            </div>
            <div class='notes-link'>
                <a href='#' title="<<<Constructive>>>: &quot;{{ items.choice.constructive_notes }}&quot;
<<<Client>>>: &quot;{{ items.choice.client_notes}}&quot;"
                {% if items.choice.constructive_notes|length > 2 or items.choice.client_notes|length > 2 %}
                    class="link-txt" onclick="return showNotesForm(this);">NOTES</a>
                {% else %}
                    class="link-txt" onclick="return showNotesForm(this);">notes</a>
                {% endif %}
            </div>
            <div class='constructive-notes'>{{ items.choice.constructive_notes }}</div>
            <div class='client-notes'>{{ items.choice.client_notes}}</div>
        </td>
        <td class='del_modif_cell'>
    {% else %}
        <td class='td_header_2 name_cell' colspan='5'>{{ items.choice.name_txt }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class='del_modif_cell td_header_2'>
    {% endif %}
            <a href='#' onclick="return setDelete(this);">delete</a>
            &nbsp;|&nbsp;
            <a href='#' onclick="return modifyRow(this);">modify</a>
        </td>
        </tr>
{% endfor %}
</tbody>
</table>
<script>setForm();</script>
<br>
<table id='choices_footer'>
<tr>
    <td>
        <input type='hidden' id='json_input' name='json_value' value=''>
    </td>
    <td><input type='submit' value='Save modifications'></td>
    <td class='hide_for_pretty'><button onclick="freezeActiveRow(); return false;">freeze</button></td>
    <td><button id='PrettyRawBtn' onclick="showPrettyRaw(this);     return false;">Show Pretty</button></td>
    {% if False %}
    <td class='hide_for_pretty'><a href='#' onclick="test1();       return false;">test1</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="test2();       return false;">test2</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="addHouse();    return false;">add House</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="addGarage();   return false;">add Garage</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="bigTest();     return false;">Big Test</a></td>
    {% endif %}
</tr>
</table>
</form>

{% if construct.footer_txt %}
    <div id='construct-footer'>
        {% autoescape off %}
            {{ construct.footer_txt|escape|markup }}
        {% endautoescape %}
    </div>
{% endif %}

<div style='display:none' id='active_row'>-1</div>
<div style='display:none' id='modified'>no</div>
{% endblock %}
