{% load static %}
<script src="{% static 'list/detail.js' %}">
</script>
<link rel="stylesheet" href="{% static 'list/style.css' %}">

<h1>{{ construct.title_text }}</h1>

<div class='hide_for_pretty'>
&larr; <a href="{% url 'list:index' %}">back to the project list</a>
<br><br>
<a href="">Save this project as...</a> (when clicked, the name field appears)<br><br>
<br>
<a href="{% url 'list:gantt' construct.id %}">Gantt Chart &rarr;</a>
<br>
</div>

<table id='choices_head'>
<tbody>
<tr>
    <td><b>Address:</b></td>
    <td onclick='modify(this);'>{{ construct.address_text }}</td>
</tr>
<tr>
    <td><b>Email:</b></td>
    <td>{{ construct.email_text }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><b>Total:</b></td>
    <td id='project_total'>&#163; {{ construct_total }}</td>
</tr>
<tr>
    <td><b>Phone:</b></td>
    <td>{{ construct.phone_text }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><b>VAT:</b></td>
    <td id='project_vat'>{{ construct.vat_percent_num }}%</td>
</tr>
<tr>
    <td><b>Owner:</b></td>
    <td>{{ construct.owner_name_text }}</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><b>Total + VAT:</b></td>
    <td id='project_total_vat'>&#163; {{ construct_total_vat }}</td>
</tr>
</tbody>
</table>

<br><br>
<div id='project_last_save_date'>
<b>Date modified:</b>&nbsp;{{ construct.last_save_date }}
</div>
<br>
<form id='choices_form' action="{% url 'list:detail' construct.id %}" method='POST'>
{% csrf_token %}
<table id='choices'>
<thead><tr>
    <td>
        <a href="#" onclick="return addRow(0, 'Choice');">task</a> |
        <a href="#" onclick="return addRow(0, 'Header2');">head</a>
    </td>
    <th class="name_cell">Task name</th>
    <th>Unit price</th>
    <th>Quantity</th>
    <th><!--Units--></th>
    <th>Total price</th>
    <th class='assign_cell'>Assigned to</th>
    <th>Date start</th>
    <th>Planned days</th>
    <th>Progress</th>
    <th></th>
    <th></th>
</tr></thead>
<tbody>
{% for items in ch_list %}
    {% if items.type == 'Choice' %}
        <tr id='tr_{{ items.choice.id }}' class='{{ items.type }}'>
    {% else %}
        <tr id='hd_{{ items.choice.id }}' class='{{ items.type }}'>
    {% endif %}
        <td align='right'>
            <a href="#" onclick="return addRow({{ items.idx }}, 'Choice');">task</a> |
            <a href="#" onclick="return addRow({{ items.idx }}, 'Header2');">head</a>
        </td>
    {% if items.type == 'Choice' %}
        <td>{{ items.choice.name_txt }}</td>
        <td align='right'>&#163;{{ items.choice.price_num }}</td>
        <td align='right'>{{ items.choice.quantity_num }}</td>
        <td align='left'>{{ items.choice.units_of_measure_text }}</td>
        <td align='right'>&#163;{{ items.choice_total_price }}</td>
        <td>
            {{ items.choice.workers }}
        </td>
        <td>{{ items.choice.plan_start_date }}</td>
        <td align='center'>{{ items.choice.plan_days_num }}</td>
        <td><progress max='100' value='{{ items.choice.progress_percent_num }}'></progress></td>
        <td align='right'>{{ items.choice.progress_percent_num }} %</td>
        <td class='del_modif_cell'>
    {% else %}
        <td class='td_header_2' colspan='5'>{{ items.choice.name_txt }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class='del_modif_cell td_header_2'>
    {% endif %}
            <a href='#' onclick="return setDelete(this);"
                        onmouseover="delMouseOver(this);"
                        onmouseout="delMouseOut(this);">delete</a>
            &nbsp;|&nbsp;
            <a href='#' onclick="return modifyRow(this);"
                        onmouseover="delMouseOver(this);"
                        onmouseout="delMouseOut(this);">modify</a>
        </td>
        </tr>
{% endfor %}
</tbody>
</table>
<script>setForm();</script>
<br>
<table id='choices_footer'>
<tr>
    <td>
        <input type='hidden' id='json_input' name='json_value' value=''>
    </td>
    <td><input type='submit' value='Save modifications'></td>
    <td class='hide_for_pretty'><button onclick="freezeActiveRow(); return false;">freeze</button></td>
    <td><button id='PrettyRawBtn' onclick="showPrettyRaw(this);     return false;">Show Pretty</button></td>
    <td class='hide_for_pretty'><a href='#' onclick="test1();       return false;">test1</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="test2();       return false;">test2</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="addHouse();    return false;">add House</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="addGarage();   return false;">add Garage</a></td>
    <td class='hide_for_pretty'><a href='#' onclick="bigTest();     return false;">Big Test</a></td>
</tr>
</table>
</form>
<div style='display:none' id='active_row'>-1</div>
<div style='display:none' id='modified'>no</div>
<script>updateHeaders();</script>
