{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<script>
    function setUpViewLink(select_id, link_id) {
        var select_value = document.getElementById(select_id).value;
        var link = document.getElementById(link_id);
        link.innerHTML = "<a href='" + select_value + "'>VIEW</a>";
        document.getElementById(select_id).addEventListener('change', function() {
                var link = document.getElementById(link_id);
                link.innerHTML = "<a href='" + this.value + "'>VIEW</a>";
            });
    }
</script>
<h2>{{ construct_name }}</h2>
<a href="{% url 'list:detail' construct_id %}">go to the project</a>

{% if incoming_transactions %}
<h3 id='incoming-transactions'>Incoming transactions: &#163; {{ income|floatformat:2 }}</h3>
<select id='incoming-transaction-select'>
	{% for tra in incoming_transactions %}
	<option value="{% url 'list:view_transaction' tra.id %}">
	&#163; {{ tra.amount|floatformat:2 }}
	from {{ tra.from_txt }}
	to {{ tra.to_txt }}
	on {{ tra.date }}
	</option>
	{% endfor %}
</select>
<div id='incoming-transaction-link'></div>
<script>
    setUpViewLink('incoming-transaction-select', 'incoming-transaction-link');
</script>
{% endif %}

{% if outgoing_transactions %}
<h3 id='outgoing-transactions'>Outgoing transactions: &#163; {{ outcome|floatformat:2 }}</h3>
<select id='outgoing-transaction-select'>
	{% for tra in outgoing_transactions %}
	<option value="{% url 'list:view_transaction' tra.id %}">
	&#163; {{ tra.amount|floatformat:2 }}
	from {{ tra.from_txt }}
	to {{ tra.to_txt }}
	on {{ tra.date }}
	</option>
	{% endfor %}
</select>
<div id='outgoing-transaction-link'></div>
<script>
    setUpViewLink('outgoing-transaction-select', 'outgoing-transaction-link');
</script>
{% endif %}

{% if salary_transactions %}
<h3 id='salary-transactions'>Salary transactions (subset of the outgoing transactions above):
    &#163; {{ total_salary|floatformat:2 }}</h3>
<select id='salary-transaction-select'>
	{% for tra in salary_transactions %}
	<option value="{% url 'list:view_transaction' tra.id %}">
	&#163; {{ tra.amount|floatformat:2 }}
	from {{ tra.from_txt }}
	to {{ tra.to_txt }}
	on {{ tra.date }}
	</option>
	{% endfor %}
</select>
<div id='salary-transaction-link'></div>
<script>
    setUpViewLink('salary-transaction-select', 'salary-transaction-link');
</script>
{% endif %}

{% if incoming_invoices %}
<h3>Incoming invoices: &#163; {{ incoming_invoices_total|floatformat:2 }}</h3>
<select id='incoming-invoices-select'>
	{% for inv in incoming_invoices %}
        <option value="{% url 'list:view_invoice' inv.id %}">
            &#163; {{ inv.amount|floatformat:2 }}
            from {{ inv.seller }},
            issued: {{ inv.issue_date }},
            due: {{ inv.due_date }}.
            {{ inv.status }}.
            {{ inv.invoice_type }}.
        </option>
	{% endfor %}
</select>
<div id='incoming-invoices-link'></div>
<script>
    setUpViewLink('incoming-invoices-select', 'incoming-invoices-link');
</script>
{% endif %}

{% if incoming_unpaid_invoices %}
<h3 id="incoming-unpaid-invoices">Incoming invoices unpaid: &#163; {{ incoming_unpaid_invoices_total|floatformat:2 }}</h3>
<select id='incoming-unpaid-invoices-select'>
	{% for inv in incoming_unpaid_invoices %}
        <option value="{% url 'list:view_invoice' inv.id %}">
            &#163; {{ inv.amount|floatformat:2 }}
            from {{ inv.seller }},
            issued: {{ inv.issue_date }},
            due: {{ inv.due_date }}.
            {{ inv.status }}.
            {{ inv.invoice_type }}.
        </option>
	{% endfor %}
</select>
<div id='incoming-unpaid-invoices-link'></div>
<script>
    setUpViewLink('incoming-unpaid-invoices-select', 'incoming-unpaid-invoices-link');
</script>
{% endif %}

{% if outgoing_invoices %}
<h3>Outgoing invoices: &#163; {{ outgoing_invoices_total|floatformat:2 }}</h3>
<select id='outgoing-invoices-select'>
	{% for inv in outgoing_invoices %}
        <option value="{% url 'list:view_invoice' inv.id %}">
            &#163; {{ inv.amount|floatformat:2 }}
            from {{ inv.seller }},
            issued: {{ inv.issue_date }},
            due: {{ inv.due_date }}.
            {{ inv.status }}.
            {{ inv.invoice_type }}.
        </option>
	{% endfor %}
</select>
<div id='outgoing-invoices-link'></div>
<script>
    setUpViewLink('outgoing-invoices-select', 'outgoing-invoices-link');
</script>
{% endif %}

{% if outgoing_unpaid_invoices %}
<h3 id="outgoing-unpaid-invoices">Outgoing invoices unpaid: &#163; {{ outgoing_unpaid_invoices_total|floatformat:2 }}</h3>
<select id='outgoing-unpaid-invoices-select'>
	{% for inv in outgoing_unpaid_invoices %}
        <option value="{% url 'list:view_invoice' inv.id %}">
            &#163; {{ inv.amount|floatformat:2 }}
            from {{ inv.seller }},
            issued: {{ inv.issue_date }},
            due: {{ inv.due_date }}.
            {{ inv.status }}.
            {{ inv.invoice_type }}.
        </option>
	{% endfor %}
</select>
<div id='outgoing-unpaid-invoices-link'></div>
<script>
    setUpViewLink('outgoing-unpaid-invoices-select', 'outgoing-unpaid-invoices-link');
</script>
{% endif %}
