{% extends 'base.html' %}
{% block title %}Gantt: {{ construct.title_text }}{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<link rel="stylesheet" href="{% static 'list/gantt.css' %}">
<script src="{% static 'list/gantt.js' %}"></script>
<h1>{{ construct.title_text }}</h1>
<div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'list:detail' construct.id %}">tasks</a>
    &nbsp;&nbsp;
    <a href="{% url 'list:index' %}">projects</a>
</div>
<br><br>
<div id='task_list' style='display:none'>
    {% autoescape off %}
        {{ marking }}
    {% endautoescape %}
</div>
<div id='total_days' style='display:none'>
{{ total }}
</div>
<div id='day_labels' style='display:none'>
{{ labels }}
</div>
<table id='gantt_table'>
    <thead>
        <tr>
            <th colspan='3'></th>
            <th id='common_start'>{{ start }}</th>
        </tr>
        <tr id='gantt-header'>
            <th class="name_cell">Task name</th>
            <th style="width: 110px">Total price</th>
            <th class="assign_cell">Assigned to</th>
        </tr>
    </thead>
    <tbody id="gantt-chart">
    {% for items in ch_list %}
        {% if items.type == 'Choice' %}
            <tr id='tr_{{ items.choice.id }}' class='{{ items.type }}'>
                <td align='left' class='task_name'>{{ items.choice.name_txt|truncatechars:30 }}</td>
                <td align='right'>&#163;{{ items.choice_total_price }}</td>
                <td align='center'>{{ items.choice.workers }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
