{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h1>Projects</h1>
<a href="{% url 'admin:list_construct_add' %}">add a project</a>
<br><br>
{% if active_construct_list %}
<table id='construct_list'>
    <tbody>
    {% for construct in active_construct_list %}
        <tr>
        <td>
            <a href="{% url 'list:detail' construct.id %}">{{ construct.title_text }}</a>
        </td>
        <td>
            <progress id="project_progress" max="100"
                value="{{ construct.overall_progress_percent_num }}">
            </progress>
        </td>
        <td align='right'>
            {{ construct.overall_progress_percent_num|floatformat:2 }} %
        </td>
        <td>
            <a href="{% url 'list:gantt' construct.id %}">Gantt Chart</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<br><br>
<table id='construct_money_scope'>
    <thead>
        <tr>
            <th>Price of<br>non-finished</th>
            <th>Price + VAT</th>
            <th>Profit</th>
            <th>Paid</th>
            <th>To be paid<br>for progress</th>
            <th>Worker<br>invoices</th> <!-- Which need to be paid -->
        </tr>
    </thead>
<tbody>
    <tr>
        <td>&#163; {{ price|floatformat:2 }}</td>
        <td>&#163; {{ price_vat|floatformat:2 }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>
</table>
{% else %}
    <p>No projects are available.</p>
{% endif %}
