{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h1>Projects</h1>
{% if active_construct_list %}
<table>
    <tbody>
    {% for construct in active_construct_list %}
        <tr>
        <td>
        <a href="{% url 'list:detail' construct.id %}">{{ construct.title_text }}</a>
        </td>
        <td>
        <progress id="project_progress" max="100"
        value="{{ construct.overall_progress_percent_num }}">
        </progress>
        </td>
        <td align='right'>
            {{ construct.overall_progress_percent_num|floatformat:2 }} %
        </td>
        <td><a href="">modify</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No projects are available.</p>
{% endif %}
