{% extends 'base.html' %}
{% block title %}Project list{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h1>Projects</h1>
<a href="{% url 'admin:list_construct_add' %}">add a project</a>
&nbsp;&nbsp;
<a href="{% url 'admin:index' %}">admin home page</a>
<br><br>
{% if active_construct_list %}
<table id='construct_list'>
    <thead>
        <th>Project name</th>
        <th>Progress</th>
        <th>Chart</th>
        <th title="Full cost of the project with Company Profit and VAT.">Cost<sup>?</sup></th>
        <th>Main<br>cost</th>
        <th>Paid<br>deposit</th>
        <th title="Will be equal to Cost, when the project is 100% done.">Full<sup>?</sup><br>progress</th>
        <th title="Main contract progress + additional works progress">Deposit<sup>?</sup><br>aware<br>progress</th>
        <th title="Current income according to incoming transactions including the deposit.">Income<sup>?</sup></th>
        <th title="Current outcome according to outgoing transactions.">Outcome<sup>?</sup> =</th>
        <th>Expenses +</th>
        <th>Salaries<br>paid</th>
        <th>Company<br>Profit</th>
        <th title="(Income &minus; VAT) * 0.13">Owner<sup>?</sup><br>Profit</th>
        <th title="Income &minus; VAT &minus; Owner Profit &minus; Outcome.">Salaries<sup>?</sup><br>Part</th>
        <th title="Main contract progress (deposit aware) + side works progress - (income - deposit). Invoice the client, if this is positive.">Left<sup>?</sup><br>to pay</th>
        <th title="Received invoices, which need to be payed. (Outcome.)">Invoices<sup>?</sup><br>to Pay (debt)</th>
        <th title="Sent invoices, which are not payed yet. (Income.)">Requested<sup>?</sup><br>Payments</th>
    </thead>
    <tbody>
    {% for construct in active_construct_list %}
        <tr>
        <td class='construct-title'>
            <a href="{% url 'list:detail' construct.id %}">{{ construct.title_text }}</a>
        </td>
        <td align='left' class='progress-cell'>
            <div class='project-progress' style='width: {{ construct.overall_progress_percent_num }}%'>
                {{ construct.overall_progress_percent_num|floatformat:2 }}&nbsp;%
            </div>
        </td>
        <td>
            <a href="{% url 'list:gantt' construct.id %}">Gantt</a>
        </td>
        <td align ='right'>
            {{ construct.full_cost }}
        </td>
        <td align ='right'>{{ construct.main_cost }}</td>
        <td align ='right'>{{ construct.deposit }}<br>({{ construct.deposit_percent|floatformat:2 }}%)</td>
        <td align ='right'>
            {{ construct.full_progress_cost }}
        </td>
        <td align ='right'>
            {{ construct.no_deposit_progress_cost }} +<br>
            {{ construct.full_side_progress_cost }}
        </td>
        <td align ='right'>
            <a href="{% url 'list:flows' construct.id %}#incoming-transactions">
            {{ construct.round_income }}
            </a>
        </td>
        <td align ='right'>
            <a href="{% url 'list:flows' construct.id %}#outgoing-transactions">
            {{ construct.round_outcome }}
            </a>
        </td>
        <td align ='right'>
            {{ construct.round_expenses }}
        </td>
        <td align ='right'>
            <a href="{% url 'list:flows' construct.id %}#salary-transactions">
            {{ construct.round_salaries }}
            </a>
        </td>
        <td align ='right'>
            {{ construct.company_profit }}<br>
            ({{ construct.company_profit_percent|floatformat:1 }}%)
        </td>
        <td align ='right'>
            {{ construct.owner_profit }}
        </td>
        <td align ='right'>
            {{ construct.salaries_part }}
        </td>
        <td align ='right'>
            {{ construct.left_to_pay }}
        </td>
        <td align ='right'>
            <a href="{% url 'list:flows' construct.id %}#outgoing-unpaid-invoices">
            {{ construct.invoices_to_pay }}
            </a>
        </td>
        <td align ='right'>
            <a href="{% url 'list:flows' construct.id %}#incoming-unpaid-invoices">
            {{ construct.invoices_pending_pay }}
            </a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
    <p>No projects are available.</p>
{% endif %}
{% endblock %}
