{% extends 'base.html' %}
{% block title %}Unpaid invoices{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Unpaid invoices</h2>
<br>
<br>
{% comment %} <b>Total:</b> &#163; {{ total }}<br><br> {% endcomment %}
<table id='construct_list'><tbody>
    {% for subset in subsets %}
        <tr>
            <td>
                <b>{{ subset.user.first_name }} {{ subset.user.last_name }}</b>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Pay</b></td>
            <td></td>
            <td></td>
        </tr>
        {% for inv in subset.invoices %}
            <tr id='tr_{{ inv.id }}'>
                <td>
                    {{ inv.issue_date }}
                </td>
                <td>
                    <b>due:</b>
                    {{ inv.due_date }}
                </td>
                <td>
                    {{ inv.number }}
                </td>
                <td id='amount_{{ inv.id }}'>
                    £ {{ inv.amount }}
                </td>
                <script>
                    function checkUncheck(box, invoice_id, user_id) {
                        const amount_field = document.getElementById('amount_' + invoice_id);
                        const modified_field = document.getElementById('modified');
                        modified_field.innerText = 'yes';
                        const amount = Number(amount_field.innerText.replace(/£/, '').trim());
                        const total_amount_field = document.getElementById('user-total-id-' + user_id);
                        const total_amount = Number(total_amount_field.innerText.replace(/£/, '').trim());
                        if (box.checked) {
                            total_amount_field.innerText = String(total_amount + amount);
                        }
                        else {
                            total_amount_field.innerText = String(total_amount - amount);
                        }
                    }
                    window.addEventListener('beforeunload', function (e) {
                        var modified_text = document.getElementById('modified').innerText;
                        if(modified_text == 'yes') {
                            e.preventDefault(); // If you prevent default behavior in Mozilla Firefox
                            e.returnValue = ''; // Chrome requires returnValue to be set
                        }
                    });
                </script>
                <td>
                    <input id='box_{{ inv.id }}' type='checkbox' checked onchange="checkUncheck(this, '{{ inv.id }}', '{{ subset.user.id}}')" />
                </td>
                <td>
                    {% if inv.was_amount %}
                        (£ {{ inv.was_amount }} &minus; {{ inv.construct.vat_percent_num }}%)
                    {% endif %}
                </td>
                <td>
                    {{ inv.status }}
                </td>
                <td>
                {% if inv.id %}
                    <a href="{% url 'list:view_invoice' inv.id %}" target="_blank">view</a>
                {% endif %}
                </td>
                <td>
                    {{ inv.details_txt|truncatechars:25 }}
                </td>
                <td>
                {% if inv.id %}
                    [{{ inv.construct.title_text }}]
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><b>Total:</b></td>
            <td>£ <b> <span id='user-total-id-{{ subset.user.id }}'>{{ subset.amount }}</span></b></td>
        </tr>
    {% endfor %}
</tbody></table>
<div style="display: none" id="modified">no</div>
{% endblock %}
