{% extends 'base.html' %}
{% block title %}Unpaid invoices{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
{% if subsets %}
    <h2>Unpaid invoices</h2>
{% else %}
    <h2>No unpaid invoices</h2>
{% endif %}
<br>
&larr; <a href="{% url 'list:index' %}"> Project List</a>
<br>
<br>
{% comment %} <b>Total:</b> &#163; {{ total }}<br><br> {% endcomment %}
<script>
    function switchAll(check) {
        const boxes = document.querySelectorAll('input[type="checkbox"]');
        boxes.forEach(function (box) {
            if (box.checked === check) return;
            const [prefix, user_id, invoice_id] = box.name.split('_');
            console.log(user_id, invoice_id);
            box.checked = check;
            checkUncheck(box, invoice_id, user_id);
        });
    }

    function checkUncheck(box, invoice_id, user_id) {
        const amount_field = document.getElementById('amount_' + invoice_id);
        const modified_field = document.getElementById('modified');
        modified_field.innerText = 'yes';
        const amount = Number(amount_field.innerText
                                          .replace(/£/, '')
                                          .replace(/,/, '')
                                          .trim());
        const total_amount_field = document.getElementById('user-total-id-' + user_id);
        const total_amount = Number(total_amount_field.innerText
                                                      .replace(/£/, '')
                                                      .replace(/,/, '')
                                                      .trim());
        if (box.checked) {
            total_amount_field.innerText = (total_amount + amount).toFixed(2);
        }
        else {
            total_amount_field.innerText = (total_amount - amount).toFixed(2);
        }
    }
    window.addEventListener('beforeunload', function (e) {
        var modified_text = document.getElementById('modified').innerText;
        if(modified_text == 'yes') {
            e.preventDefault(); // If you prevent default behavior in Mozilla Firefox
            e.returnValue = ''; // Chrome requires returnValue to be set
        }
    });
</script>
{% if new_transactions %}
    <b>New transactions:</b>
    {% for tra in new_transactions %}
        <p>{{ tra }}</p>
    {% endfor %}
{% endif %}
<center>
    <a href='#' onclick='switchAll(false); return false'>Uncheck All</a>&nbsp;|&nbsp;
    <a href='#' onclick='switchAll(true); return false'>Check All</a>
</center>
<br /><br />
<form action="{% url 'list:invoices_payall' %}" method='POST'>
{% csrf_token %}
<table id='construct_list'><tbody>
    {% for subset in subsets %}
        <tr>
            <td>
                <b>{{ subset.user.first_name }} {{ subset.user.last_name }}</b>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Pay</b></td>
            <td></td>
            <td></td>
        </tr>
        {% for inv in subset.invoices %}
            <tr id='tr_{{ inv.id }}'>
                <td>
                    <input type='hidden' name='invoice_id_{{ inv.id }}' value='{{ inv.id }}' />
                    {{ inv.issue_date }}
                </td>
                <td>
                    <b>due:</b>
                    {{ inv.due_date }}
                </td>
                <td>
                    {{ inv.number }}
                </td>
                <td id='amount_{{ inv.id }}'>
                    £ {{ inv.amount }}
                    <input type='hidden' name='amount_{{ inv.id }}' value='{{ inv.amount }}' />
                </td>
                <td>
                    <input id='box_{{ inv.id }}' name='box_{{ subset.user.id }}_{{ inv.id }}' type='checkbox' value='on' checked onchange="checkUncheck(this, '{{ inv.id }}', '{{ subset.user.id}}')" />
                </td>
                <td>
                    {% if inv.was_amount > inv.amount %}
                        (£ {{ inv.was_amount }} &minus; {{ inv.cis_percent }}%)
                    {% endif %}
                </td>
                <td>
                    {{ inv.status }}
                </td>
                <td>
                {% if inv.id %}
                    <a href="{% url 'list:view_invoice' inv.id %}" target="_blank">view</a>
                {% endif %}
                </td>
                <td>
                    {{ inv.details_txt|truncatechars:25 }}
                </td>
                <td>
                {% if inv.id %}
                    [{{ inv.construct.title_text }}]
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><b>Total:</b></td>
            <td>£ {{ subset.total }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>CIS:</b></td>
            <td>£ {{ subset.cis }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><b>To pay:</b></td>
            <td>£ <b> <span id='user-total-id-{{ subset.user.id }}'>{{ subset.amount }}</span></b></td>
        </tr>
    {% endfor %}
    <tr>
    {% if subsets %}
        <td><input type='submit' value='submit'></td>
    {% endif %}
    </tr>
</tbody></table>
</form>
<div style="display: none" id="modified">no</div>
{% endblock %}
