{% extends 'base.html' %}
{% block title %}Modify an Invoice{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<script>
    // same is in submit_invoice.html
    function add_tag(ths) {
            var textarea = document.getElementById('id_details_txt');
            textarea.value = textarea.value + '\n' + ths.innerText;
    }
</script>
<h2>Modify an Invoice</h2>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit changes">
</form>
<div style="display: none" id="hidden-tags">
    <a href='#' onclick='add_tag(this)'>#salary</a>&nbsp;&nbsp;&nbsp;
    <a href='#' onclick='add_tag(this)'>#materials</a>&nbsp;&nbsp;&nbsp;
</div>
<script>
    var due_date_element = document.getElementById('id_due_date');
    const hidden_tags = document.getElementById('hidden-tags');
    const tags = document.createElement('p');
    tags.innerHTML = hidden_tags.innerHTML;
    due_date_element.parentNode.appendChild(tags);
</script>
<script>
    // same is in submit_invoice.html
    {% if 'is_staff' in perms %}
    function get_number(field) {
            var line = String(field).trim();
            var num = 0.0;
            var mtch = line.match(/([0-9\.]+)/);
            try {
                    num = Number(mtch[0]);
            }
            catch(err) {}
            return num;
    }

    function get_amount() {
            var text = document.getElementById('id_details_txt').value;
            var lines = Array.from(text.split('\n'));
            var amount = 0.0;
            lines.forEach(function(line) {
                if (line.trim()[0] == '#') return;
                var fields = line.split(',');
                var quantity = get_number(fields[0]);
                var price = get_number(fields[2]);
                amount += quantity * price;
            });
            return amount;
    }

    var amount_field = document.getElementById('id_amount');
    amount_field.addEventListener('focus', function () {
        amount_field.value = get_amount();
    });
    {% endif %}
    var details_label = document.getElementById('id_details_txt');
    details_label.style.verticalAlign = 'top';
</script>
{% endblock %}
