{% extends 'base.html' %}
{% load static %}

{% block title %}Status management{% endblock %}

<a href="{% url 'list:index' %}">all projects</a>&nbsp;&nbsp;&nbsp;

{% block extra-head %}
<link rel="stylesheet" href="{% static 'list/status.css' %}">
<script src="{% static 'list/status.js' %}"></script>
{% endblock %}

{% block content %}
<div style="padding: 10px;">
<h1>Status management</h1>
    <div id="id_chosen_construct"></div>
    <div class="tab-head">
    {% for chain in chains %}
        <button onclick="openChain('chain-{{ chain.chain.id }}', this)"
                ondragover="openChain('chain-{{ chain.chain.id }}', this)"
            {% if forloop.counter == 1 %} class="tab active-tab" {% else %} class="tab" {% endif %}
            id="tab-{{ chain.chain.id }}">
            {{ chain.chain.name }}
        </button>
    {% endfor %}
    </div>

    <script>
        window.names = {description: "Construct, Chain, and Status names"};
        window.fetch_url = "{% url 'list:status' %}";
    </script>
    {% for chain in chains %}
        <div id="chain-{{ chain.chain.id }}" class="chain"
            {% if forloop.counter > 1 %} style="display:none" {% endif %}>
            <script>
                window.names["chain-{{ chain.chain.id }}"] = "{{ chain.chain.name }}";
            </script>
            <div class="chain-t">
                {% for status in chain.statuses %}
                    <div class="status-col" ondrop="drop(event)" ondragover="allowDrop(event)" id="status-{{ status.id }}">
                        <div class="status-col-head" style="background-color: {{ status.color }}">
                            {{ status.name }}
                            <script>
                                window.names["status-{{ status.id }}"] = "{{ status.name }}";
                            </script>
                        </div>
                        {% for construct in status.constructs %}
                            <div class="construct" draggable="true" ondragstart="drag(event)"
                                 id="construct-{{ construct.id }}" onmouseup="constructTouch(this)">
                                {{ construct.title_text }}
                            </div>
                            <script>
                                window.names["construct-{{ construct.id }}"] = "{{ construct.title_text }}";
                            </script>
                        {% endfor %}
                    </div>
                {% endfor%}
            </div>
        </div>
    {% endfor %}
    <div id="id_drop_dialog" style="display: none">
        <div id="id_dialog_content">
            <b>Do you really want to move</b>
            <p id="id_construct_name">
            </p>
            <p><b>from</b></p>
            <p id="id_source">
            </p>
            <p><b>to</b></p>
            <p id="id_destination">
            &nbsp;&nbsp;&nbsp;<b>?</b>
            </p>
            <p><i>Optional note:</i></p>
            <p><textarea id="id_moving_note" rows="5" cols="40"></textarea></p>
            <p>
                <button onclick="dialogYes()">yes, proceed</button>&nbsp;&nbsp;&nbsp;
                <button onclick="dialogNo()">no, cancel</button>
            </p>
            <script>
                window.dialog_parameters = {};
            </script>
        </div>
        <form id="id-fetch-form">
            {% csrf_token %}
            <input type='hidden' name='data' value='' id='dialog-data' />
        </form>
        <div id="id_wait_img" style="display: none">
            <img src="{% static 'images/wait.gif' %}">
        </div>
    </div>
</div>
{% endblock %}
