{% extends 'base.html' %}
{% block title %}Status management{% endblock %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'list/status.css' %}">
<script src="{% static 'list/status.js' %}"></script>
{% endblock %}
{% block content %}
{% load static %}

<div style="padding: 10px;">
<h1>Status management</h1>
    <div class="tab-head"">
    {% for chain in chains %}
        <button onclick="openChain('{{ chain.chain.name }}', this)"
            {% if forloop.counter == 1 %} class="tab active-tab" {% else %} class="tab" {% endif %}>
            {{ chain.chain.name }}
        </button>
    {% endfor %}
    </div>

    {% for chain in chains %}
        <div id="{{ chain.chain.name }}" class="w3-container chain"
            {% if forloop.counter > 1 %} style="display:none" {% endif %}>
            {% for status in chain.statuses %}
                <p style="background-color: {{ status.color }};
                        width: fit-content;
                        padding: 5px;
                        border-radius: 3px;">{{ status.name }}</p>
            {% endfor%}
        </div>
    {% endfor %}
</div>
{% endblock %}
