{% extends 'base.html' %}
{% load static %}

{% block title %}Status chains{% endblock %}

{% block extra-head %}
<link rel="stylesheet" crossorigin href="{% static 'list/status_mgr/styles.css' %}">
<script type="module" crossorigin src="{% static 'list/status_mgr/script.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="margin-left: 20px">
        <h2 style="color: black">Status chains (categories)</h2>
        <a href="{% url 'list:index' %}">all projects</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'list:status' %}">status assignment</a>&nbsp;&nbsp;&nbsp;<br /><br />
        <script>
            window.dataFetchUrl = "{% url 'list:get_status_chains' %}";
            window.dataPushUrl = "{% url 'list:set_status_chains' %}";
            window.csrf = "{{ csrf_token }}";
        </script>
        <div id="root"></div>
    </div>
{% endblock %}