{% extends 'base.html' %}
{% block title %}Submit a Transaction{% endblock %}
{% block content %}
{% load static %}
<script>
    function add_tag(ths) {
            var textarea = document.getElementById('id_details_txt');
            textarea.value = textarea.value + '\n' + ths.innerText;
    }
</script>
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Submit a Transaction</h2>
<form action="" method="post">
    {% csrf_token %}
    <p>
        <b>{{ form.from_txt.label_tag }}</b>
        {{ form.from_txt }}
    </p>
    <p>
        <b>{{ form.to_txt.label_tag }}</b>
        {{ form.to_txt }}
    </p>
    <p>
        <b>{{ form.amount.label_tag }}</b>
        {{ form.amount }}
    </p>
    <p>
        <b>{{ form.transaction_type.label_tag }}</b>
        {{ form.transaction_type }}
    </p>
    <p>
        <a href='#' onclick="add_tag(this)">#salary</a>&nbsp;&nbsp;&nbsp;
        <a href='#' onclick="add_tag(this)">#deposit</a>&nbsp;&nbsp;&nbsp;
        <a href='#' onclick="add_tag(this)">#main</a>&nbsp;&nbsp;&nbsp;
        <a href='#' onclick="add_tag(this)">#side</a>&nbsp;&nbsp;&nbsp;
    </p>
    <p>
        <b>{{ form.construct.label_tag }}</b>
        {{ form.construct }}
    </p>
    <p>
        <b>{{ form.date.label_tag }}</b>
        {{ form.date }}
    </p>
    <p>
        <b>{{ form.receipt_number.label_tag }}</b>
        {{ form.receipt_number }}
    </p>
    <p>
        <b>{{ form.invoices.label_tag }}</b>
        {{ form.invoices }}
    </p>
    <p>
        <b>{{ form.details_txt.label_tag }}</b>
        {{ form.details_txt }}
    </p>
    <p>
        <b>{{ form.photo.label_tag }}</b>
        {{ form.photo }}
    </p>
    <input type="submit" value="Submit">
</form>
{% endblock %}
