{% extends 'base.html' %}
{% block title %}Submit an Invoice{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Submit an Invoice</h2>
<form action="" method="post">
    {% csrf_token %}
    <p>
        <b>{{ form.construct.label_tag }}</b>
        {{ form.construct }}
    </p>
    <p>{{ form.owner }}</p>
    <p>
        <b>{{ form.seller.label_tag }}</b>
        {{ form.seller }}
    </p>
    <p>
        <b>{{ form.amount.label_tag }}</b>
        {{ form.amount }}
    </p>
    <p>
        <b>{{ form.number.label_tag }}</b>
        {{ form.number }}
    </p>
    <p>
    {% if not form.invoice_type.is_hidden %}
        <b>In or Out:</b>
    {% endif %}
        {{ form.invoice_type }}
    </p>
    <p>
    {% if not form.status.is_hidden %}
        <b>{{ form.status.label_tag }}</b>
    {% endif %}
        {{ form.status }}
    </p>
    <p>
        <b>{{ form.issue_date.label_tag }}</b>
        {{ form.issue_date }}
    </p>
    <p>
        <b>{{ form.due_date.label_tag }}</b>
        {{ form.due_date }}
    </p>
    <p>
        <b>{{ form.details_txt.label_tag }}</b>
        {{ form.details_txt }}
    </p>
    {% comment %}
    <p>
        <b>{{ form.photo.label_tag }}</b>
        {{ form.photo }}
    </p>
    {% endcomment %}
    <input type="submit" value="Submit">
</form>
<script>
    // same is in modify_invoice.html
    function get_number(field) {
            var line = String(field).trim();
            var num = 0.0;
            var mtch = line.match(/([0-9\.]+)/);
            try {
                    num = Number(mtch[0]);
            }
            catch(err) {}
            return num;
    }

    function get_amount() {
            var text = document.getElementById('id_details_txt').value;
            var lines = Array.from(text.split('\n'));
            var amount = 0.0;
            lines.forEach(function(line) {
                    var fields = line.split(',');
                    var quantity = get_number(fields[0]);
                    var price = get_number(fields[2]);
                    amount += quantity * price;
                });
            return amount;
    }

    var details_label = document.getElementById('id_details_txt');
    details_label.style.verticalAlign = 'top';
    var amount_field = document.getElementById('id_amount');
    amount_field.addEventListener('focus', function () {
        amount_field.value = get_amount();
    });
    function get_number(field) {
            var line = String(field).trim();
            var num = 0.0;
            var mtch = line.match(/([0-9\.]+)/);
            try {
                    num = Number(mtch[0]);
            }
            catch(err) {}
            return num;
    }

    function get_amount() {
            var text = document.getElementById('id_details_txt').value;
            var lines = Array.from(text.split('\n'));
            var amount = 0.0;
            lines.forEach(function(line) {
                    var fields = line.split(',');
                    var quantity = get_number(fields[0]);
                    var price = get_number(fields[2]);
                    amount += quantity * price;
                });
            return amount;
    }

    var details_label = document.getElementById('id_details_txt');
    details_label.style.verticalAlign = 'top';
    var amount_field = document.getElementById('id_amount');
    amount_field.addEventListener('focus', function () {
        amount_field.value = get_amount();
    });
</script>
{% endblock %}
