{% extends 'base.html' %}
{% block title %}Submit a Transaction{% endblock %}
{% block content %}
{% load static %}
<script>
    function add_tag(ths) {
            var textarea = document.getElementById('id_details_txt');
            textarea.value = textarea.value + '\n' + ths.innerText;
    }
</script>
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Submit a Transaction</h2>
<form action="" method="post">
    {% csrf_token %}
    <table id='construct_list'>
        <tr>
            <td><b>{{ form.from_txt.label_tag }}</b></td>
            <td>{{ form.from_txt }}</td>
        </tr>
        <tr>
            <td><b>{{ form.to_txt.label_tag }}</b></td>
            <td>{{ form.to_txt }}</td>
        </tr>
        <tr>
            <td><b>{{ form.amount.label_tag }}</b></td>
            <td>{{ form.amount }}</td>
        </tr>
        <tr>
            <td><b>{{ form.transaction_type.label_tag }}</b></td>
            <td>{{ form.transaction_type }}</td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp;<a href='#' onclick="add_tag(this)">#salary</a><br><br>
                &nbsp;&nbsp;<a href='#' onclick="add_tag(this)">#deposit</a>
            </td>
            <td>
                <a href='#' onclick="add_tag(this)">#main</a><br><br>
                <a href='#' onclick="add_tag(this)">#side</a>
            </td>
        </tr>
        <tr>
            <td><b>{{ form.construct.label_tag }}</b></td>
            <td>{{ form.construct }}</td>
        </tr>
        <tr>
            <td><b>{{ form.date.label_tag }}</b></td>
            <td>{{ form.date }}</td>
        </tr>
        <tr>
            <td><b>{{ form.receipt_number.label_tag }}</b></td>
            <td>{{ form.receipt_number }}</td>
        </tr>
        <tr>
            <td><b>{{ form.invoices.label_tag }}</b></td>
            <td>{{ form.invoices }}</td>
        </tr>
        <tr>
            <td id='details'><b>{{ form.details_txt.label_tag }}</b></td>
            <td>{{ form.details_txt }}</td>
        </tr>
        <tr>
            <td><b>{{ form.photo.label_tag }}</b></td>
            <td>{{ form.photo }}</td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>
{% endblock %}
