{% extends 'base.html' %}
{% block title %}Submit a Bunch of Transactions{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Submit a Bunch of Transactions</h2>
<p>
&larr; <a href="{% url 'list:index' %}">to the project list</a>
</p>
{% for construct in constructs %}
    {% if construct.id == construct_id %}
        &larr; <a href="{% url 'list:detail' construct_id %}">to "{{ construct.title_text }}"</a>
    {% endif %}
{% endfor %}
<form action="{% url 'list:submit_transaction_bunch' %}" method="post">
    {% csrf_token %}
    <p>
    Project:
    <select id="construct_id" name="construct_id">
        {% for construct in constructs %}
            {% if construct.id == construct_id %}
                <option value="{{ construct.id }}" selected>{{ construct.title_text }}</option>
            {% else %}
                <option value="{{ construct.id }}">{{ construct.title_text }}</option>
            {% endif %}
        {% endfor %}
    </select>
    &nbsp;&nbsp;
    Delimiter:
    <select name="delimiter">
        {% for delim in delimiters %}
        <option value="{{ delim.value }}" {{ delim.selected }}>{{ delim.name }}</option>
        {% endfor %}
    </select>
    &nbsp;&nbsp;
    Field numbers to use (starting from 1):
    <input name='field_nums' value='{{ field_nums }}'>
    </p>
    <p>
        Each line to be:<br>
        <b>from</b> tab <b>to</b> tab <b>amount</b> tab <b>in-out</b> tab <b>date</b> tab <b>number</b> tab <b>details</b><br> 
        or<br>
        <b>from</b>, <b>to</b>, <b>amount</b>, <b>in-out</b>, <b>date</b>, <b>number</b>, <b>details</b><br> 
    </p>
    <p>Date format is like: 05/10/2023; 2023-10-05; October 5, 2023 (if the delimiter is not comma).</p>
    <p>
        Example: Company, Ivan Ivanov, 5120, out, 13/09/2023, 12358, #salary
    </p>
    <p>
    {% for line in added %}
    <b>Added:</b> {{ line }}<br>
    {% endfor %}
    </p>
    <p>
    {% for error in errors %}
        <b>Error</b> {{ error }}<br>
    {% endfor %}
    </p>
    <p>
        {% if lines %}
        <textarea id="lines" name="lines" rows="20" cols="150">{{ lines }}</textarea>
        {% else %}
        <textarea id="lines" name="lines" rows="20" cols="150"></textarea>
        {% endif %}
    </p>
    <input type="submit" value="Submit">
</form>
{% endblock %}
