{% extends 'base.html' %}
{% block title %}Transaction{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Transaction</h2>
<a href="{% url 'list:submit_transaction' %}">add a new transaction</a>
&nbsp;
<a href="{% url 'admin:list_transaction_change' transaction.id %}">modify this one</a>
&nbsp;
<a href="{% url 'list:transactions' transaction.construct.id %}">project's transactions</a>
<br />
<br />
<p>
    <label for='id_project'><b>Project:</b></label>
    <span id='id_project'>
        <a href="{% url 'list:detail' transaction.construct.id %}">
        {{ transaction.construct.title_text }}
        </a>
    </span>
</p>
<p>
    <label for='id_number'><b>Number:</b></label>
    <span id='id_number'>{{ transaction.receipt_number }}</span>
</p>
<p>
    <label for='id_from'><b>From:</b></label>
    <span id='id_from'>{{ transaction.from_txt }}</span>
</p>
<p>
    <label for='id_to'><b>To:</b></label>
    <span id='id_to'>{{ transaction.to_txt }}</span>
</p>
<p>
    <label for='id_amount'><b>Amount:</b></label>
    <span id='id_amount'>&#163; {{ transaction.amount }}</span>
</p>
<p>
    <label for='id_date'><b>Date:</b></label>
    <span id='id_date'>{{ transaction.date }}</span>
</p>
{% if invoices.len > 0 %}
<p>
    <label for='id_invoice'><b>Pays For:</b></label>
    <span id='id_invoice'>
        {% for inv in invoices.list %}
            <a href="{% url 'list:view_invoice' inv.id %}">{{ inv.number }}</a>:
            &#163; {{ inv.amount }}. From: {{ inv.seller }}.<br />
        {% endfor %}
    </span>
</p>
{% endif %}
<p>
    <label for='id_details'><b>Details:</b></label>
    <span id='id_details' style='max-width: 400px'>{{ transaction.details_txt|linebreaks }}</span>
</p>
{% if transaction.photo %}
    <br />
    <a href="{{ transaction.photo.url }}">
        {% if transaction.photo.width > 500 %}
            <img src="{{ transaction.photo.url }}" width="500">
        {% else %}
            <img src="{{ transaction.photo.url }}">
        {% endif %}
    </a>
{% endif %}
{% endblock %}
