{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Invoice</h2>
<table id='construct_list'>
    <tr>
        <td><b>Project:</b></td>
        <td>{{ invoice.construct.title_text }}</td>
    </tr>
    <tr>
        <td><b>Number:</b></td>
        <td>{{ invoice.number }}</td>
    </tr>
    <tr>
        <td><b>Seller:</b></td>
        <td>{{ invoice.seller }}</td>
    </tr>
    <tr>
        <td><b>Amount:</b></td>
        <td>&#163; {{ invoice.amount }}</td>
    </tr>
    <tr>
        <td><b>Issue Date:</b></td>
        <td>{{ invoice.issue_date }}</td>
    </tr>
    <tr>
        <td><b>Due Date:</b></td>
        <td>{{ invoice.due_date }}</td>
    </tr>
    <tr>
        <td><b>Status:</b></td>
        <td>{{ invoice.status }}</td>
    </tr>
    {% if invoice.status == 'Paid' %}
    <tr>
        <td><b>Paid By:</b></td>
        <td>
            {% for tra in transactions %}
                <a href="{% url 'list:view_transaction' tra.id %}">{{ tra.number }}</a>:
                &#163; {{ tra.amount }}. From: {{ tra.from }}.<br />
            {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>
{% if invoice.photo %}
    <br />
    <a href="{{ invoice.photo.url }}">
        {% if invoice.photo.width > 500 %}
            <img src="{{ invoice.photo.url }}" width="500">
        {% else %}
            <img src="{{ invoice.photo.url }}">
        {% endif %}
    </a>
{% endif %}
