{% extends 'base.html' %}
{% block title %}View Invoice{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'list/style.css' %}">
<h2>Invoice</h2>
<a href="{% url 'admin:list_invoice_changelist' %}">see all invoices</a>
{% if 'list.change_invoice' in perms %}
    &nbsp;&nbsp;<a href="{% url 'list:modify_invoice' invoice.id %}">modify this one</a>
{% endif %}
{% if user.is_authenticated %}
    &nbsp;&nbsp;<a href="{% url 'list:print_invoice' invoice.id %}" target="_blank">print</a>
{% endif %}
<br />
<br />
<p>
    
<label for='id_project'><b>Project:</b></label>
    <a href="{% url 'list:detail' invoice.construct.id %}" id='id_project'>
    {{ invoice.construct.title_text }}
    </a>
</p>
<p>
    <label for='id_number'><b>Number:</b></label>
    <span id='id_number'>{{ invoice.number }}</span>
</p>
<p>
    <label for='id_seller'><b>Seller:</b></label>
    <span id='id_seller'>{{ invoice.seller }}</span>
</p>
<p>
    <label for='id_amount'><b>Amount:</b></label>
    <span id='id_amount'>&#163; {{ invoice.amount }}</span>
</p>
<p>
    <label for='id_inout'><b>In/Out:</b></label>
    <span id='id_inout'>{{ invoice.invoice_type }}</span>
</p>
<p>
    <label for='id_issue'><b>Issue Date:</b></label>
    <span id='id_issue'>{{ invoice.issue_date }}</span>
</p>
<p>
    <label for='id_due'><b>Due Date:</b></label>
    <span id='id_due'>{{ invoice.due_date }}</span>
</p>
<p>
    <label for='id_status'><b>Status:</b></label>
    <span id='id_status'>{{ invoice.status }}</span>
</p>
<p>
    {% if invoice.status == 'Paid' %}
        <label for='id_paid_by'><b>Paid By:</b></label>
        <span id='id_paid_by'>
            {% for tra in transactions %}
                <a href="{% url 'list:view_transaction' tra.id %}">{{ tra.number }}</a>:
                &#163; {{ tra.amount }}. From: {{ tra.from }}.<br />
            {% endfor %}
        </span>
    {% else %}
        <label for='id_link_to_pay'><b>Link to pay:</b></label>
        <span id='id_link_to_pay'>
            <a href="{% url 'list:submit_transaction' %}?construct={{invoice.construct.id}}&amount={{invoice.amount}}&invoice={{invoice.id}}&type={{invoice.invoice_type}}">pay</a>
        </span>
    {% endif %}
</p>
<p>
    <label for='id_details'><b>Details:</b></label>
    <div id='id_details' style='max-width: 400px'>{{ invoice.details_txt|linebreaks }}</div>
</p>
{% if invoice.photo %}
    <br />
    <a href="{{ invoice.photo.url }}">
        {% if invoice.photo.width > 500 %}
            <img src="{{ invoice.photo.url }}" width="500">
        {% else %}
            <img src="{{ invoice.photo.url }}">
        {% endif %}
    </a>
{% endif %}
{% endblock %}
