table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 2px 2px 7px 5px;
    position: relative;
}
.gantt-chart {
    position: relative;
}
.gantt-chart::before {
    content: "";
    position: absolute;
    right: 67%;
    height: 500px;
    border-right: 1px solid black;
}
.gantt-bar {
    position: absolute;
    top: 15%;
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
    z-index: 1;
}

td.task_name {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1.2em;
    line-height: 1.2em;
    width: 300px;
    z-index: 0;
}

td.task_name:hover {
    border: 1px solid black;
    white-space: normal;
    max-height: none;
    line-height: normal;
    background-color: white;
    z-index: 1;
}
