.tab-head {
    width: fit-content;
    padding: 0px;
    border-bottom: solid 1px;
    padding-bottom: 1px;
}

.tab {
    color: black;
    background-color: #f5f0f0;
    border: none;
    padding: 10px;
    width: 100px;
    font-size: 12pt;
    font-weight: bold;
}

.active-tab {
    color: white;
    background-color: #73271f;
}

.chain-t {
    display: flex;
}

.status-col {
    min-width: 150px;
    max-width: 150px;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 3px;
}

.status-col-head {
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
}

.construct {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: solid 1px lightblue;
}