.tab-head {
    width: fit-content;
    padding: 0px;
    border-bottom: solid 1px;
    padding-bottom: 1px;
}

.tab {
    color: black;
    background-color: #f5f0f0;
    border: none;
    padding: 10px;
    width: 100px;
    font-size: 12pt;
    font-weight: bold;
}

.active-tab {
    color: white;
    background-color: #73271f;
}

.chain-t {
    display: flex;
}

.status-col {
    min-width: 150px;
    max-width: 150px;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 3px;
}

.status-col-head {
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
}

.construct {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: solid 1px lightblue;
}

div#id_drop_dialog {
    /* width: fit-content;
    height: fit-content;
    border: solid 1px black;
    padding: 10px; */

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div#id_dialog_content {
    width: fit-content;
    height: fit-content;
    border: solid 1px black;
    padding: 10px;
    background-color: white;
}

div#id_chosen_construct {
    margin: 10px;
}

@keyframes fadeHighlight {
    from {
        background-color: rgb(250, 101, 144);
    }
    to {
        background-color: transparent;
    }
}

.highlight {
    animation: fadeHighlight 2s forwards;
}
