table {
  border-spacing: 1em 0.5em;
  padding: 0 2em 1em 0;
}

.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.8em;
}

.delete {
  color: grey;
  text-decoration: line-through;
