table {
  border-spacing: 1em 0.5em;
  padding: 0 2em 1em 0;
  border: 1px solid black;
  border-collapse: collapse;
}

#choices td, th {
  border: 1px solid black;
  padding: 5px;
  border: 1px solid lightgrey;
}

th {
  text-align: left;
}

.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.8em;
}

.delete {
  color: grey;
  text-decoration: line-through;
}

td.td_header_2 {
  background-color: #d6f1e8;
  font-size: 1.2em;
  font-weight: bold;
}

th.name_cell {
  width: 300px;
}

.onDelMouseOver {
  background-color: lightgrey;
}

table#construct_list {
    border-collapse: collapse;
    border: none;
}

table#construct_list td, table#construct_list th {
    border: none;
}

table#construct_money_scope {
    border-collapse: collapse;
    border: none;
}

table#construct_money_scope td, table#construct_money_scope th {
    border: none;
}

