.constructive-notes {
    display: none;
}

.client-notes {
    display: none;
}

.notes-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 400px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 9;
}

.progress-form {
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 300px;
    background-color: rgb(226, 239, 244);
    border: 1px solid black;
    padding: 10px;
    z-index: 9;
}

.progress-slider {
    writing-mode: vertical-lr;
    width: 40px; /* Adjust as needed */
    height: 250px; /* Adjust for vertical length */
    writing-mode: bt-lr; /* IE specific: positioning and behavior */
}

.main-contract {
    background-color: #fffef9;
}

.construct-title {
    max-width: 250px;
}

table {
  border-spacing: 1em 0.5em;
  padding: 0 2em 1em 0;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

tr:hover {
  background-color: lightgrey;
}

#choices td, th {
  border: 1px solid black;
  padding: 5px;
  border: 1px solid lightgrey;
}

th {
  text-align: left;
}

.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.8em;
}

.delete {
  color: grey;
  text-decoration: line-through;
}

td.td_header_2 {
  background-color: #d6f1e8;
  font-size: 1.2em;
  font-weight: bold;
}

th.name_cell {
    padding-left: 5px;
    max-width: 300px;
}

td.name_cell {
    max-width: 300px;
}

th.assign_cell  {
    width: 120px;
}

.onDelMouseOver {
  background-color: lightgrey;
}

table#construct_list {
    border-collapse: collapse;
    border: none;
}

table#construct_list td, table#construct_list th {
    border: none;
    padding: 6px;
}

table#construct_list th {
    text-align: center;
}

table#construct_money_scope {
    border-collapse: collapse;
    border: none;
}

table#construct_money_scope td, table#construct_money_scope th {
    border: 1px dotted grey;
    padding: 8px;
}

table#choices_head td {
    padding: 7px;
}

table#choices_footer {
    border-collapse: collapse;
    border: none;
}

table#choices_footer td, table#choices_footer th {
    border: none;
    padding: 7px;
}

table#construct_list {
    table-layout: fixed;
    width: max-content;
}

td.progress-cell {
    position: relative;
    width: 120px;
}

.project-progress {
    position: relative;
    left: 0;
    width: 0%;
    top: 10%;
    background-color: lightblue;
    border-radius: 5px;
    text-align: center;
    line-height: 120%;
    color: black;
    z-index: 0;
}

a {
    text-decoration: none;
}
