.status {
    display: flex;
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.delete-symbol {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    padding-left: 3px;
    padding-right: 3px;
    height: fit-content;
    font-size: smaller;
    border: none;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
}

.delete-symbol:hover {
    background-color: rgb(250, 56, 56);
    color: white;
    box-shadow: 2px 2px black;
    border: 1px solid black;
}

.delete-dialog-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.424);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.delete-dialog {
    position: relative;
    top: 10%;
    left: 10%;
    width:fit-content;
    height: fit-content;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

@keyframes fadeHighlight {
    from {
        background-color: rgb(244, 18, 82);
    }
    to {
        background-color: transparent;
    }
}

.highlight {
    animation: fadeHighlight 2s forwards;
}

.status-name {
    font-size: larger;
    text-align: center;
    font-weight: bold;
}