.chain {
    margin: 3px;
}

.chain-head {
    border-radius: 3px;
    display: flex;
}

.chain-name {
    color: rgb(62, 60, 60);
    font-size: 14pt;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
    padding: 0 5px;
}

.add-status {
    width: 20px;
    height: 25px;
    background-color: white;
    color: black;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.add-status:hover {
    background-color: rgb(5, 134, 40);
    color: white;
    box-shadow: 2px 2px black;
    border: 1px solid black;
}